@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

header {
    padding-top: 59px;
    padding-bottom: 22px;
    background-color: #3a7dfd;
    background-image: linear-gradient(-147deg, #3a7dfd 0%, #1157db 100%);
    color: #fff;
}

.p1 {
    margin-top: 102px;
    font-size: 18px;
}

.col-5 h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 21px;

}

.p2 {
    font-size: 18px;
    margin-top: 20px;

}

.header-button {
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
    border: 0px solid #fff;
    border-radius: 25px;
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    padding: 17px 55px;
    -webkit-transition: 0.2;
    -o-transition: 02;
    transition: 0.2;

}

.header-button:hover {
    box-shadow: none;
    background-color:#E0E0E0;
}

header small {
    margin-top: 9px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    display: block;
    text-align: center;
}

.header-button-block {
    max-width: 210px;
}

/*Section Portfolio*/
.portfolio {
    padding-bottom: 71px;
    padding-top: 44px;
    background: #dddddd;
}

.portfolio-block {
    background-color: #fff;
    padding-top: 29px;
    padding-bottom: 44px;
}

.portfolio-title,
.portfolio-subtitle {
    text-align: center;
}

.portfolio-title {
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.portfolio-subtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    color: #7bb9ff;
}

.portfolio-col-1 {
    padding-left: 51px;
}

.portfolio-col-2 {
    padding-right: 50px;
}

.portfolio-block h3 {
    color: #072b6f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

portfolio-text {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 400;
}

.portfolio-block a {
    color: #072b6f;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}

/*Оформление подвала*/
footer {
    background-color: #3a7dfd;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 110px;
}

.footer-auther {
    margin-bottom: 7px;
    font-size: 24px;
}

.footer-text {
    font-size: 18px;
    margin-top: 0px;
}

.social-block {
    text-align: center;
}

.social-block a {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
}

.footer-cta-block {
    text-align: center;
}

.fotter-cta {
    margin-bottom: 13px;
}

.footer-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    padding: 12px 40px;
}

.footer-button:hover {
    background-color: #fff;
    color: #3a7fdf;
    -webkit-transition: 0.2;
    -o-transition: 02;
    transition: 0.2;
    
}

@media (max-width: 1200) {
    .header-pretitle {
        margin-top: 60px;
    }
}


@media (max-width:992px) {
    .header-img {
        display: none;
    }

    .header-pretitle {
        margin-top: 10px;
    }

    .footer-author {
        font-size: 18px;
    }

    .footer-text {
        font-size: 14px;
    }

    .social-block a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .social-block img {
        width: 30px;
    }

    .footer-button {
        font-size: 14px;
        padding: 9px 35px;
    }
}

@media (max-width:768px) {
    .portfolio-col-1 {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 4 0px;
    }

    .portfolio-col-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-author,
    .footer-text {
        text-align: center;
    }

}
